/*Pre-fix*/
* {
	border-radius: 0;
}
a {
	color: #5b6974;
}
a:hover {
	color: #c0355d;
	text-decoration: none;
}
li {
	list-style: none;
}
.btn {
	text-transform: uppercase;
}
/*end Pre-fix*/

/*nav start*/
nav {
	position: fixed;
	width: 100%;
	top: 0;
	padding: 15px 0 5px 0;
	background-color: #fff;
	z-index: 100;
}
.logo {
	max-width: 150px;
}
nav ul {
	float: right;
}
nav li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 3;
}
nav .btn {
	
    background-color: #ffffff;
    border: 2px solid #aaaaaa;
    border-radius: 0;
    color: #aaaaaa;
    font-size: 15px;
    padding-top: 7px;
}
nav .btn:hover {
	background-color: #aaaaaa;
	color: #ffffff;
}
button.join {
	background-color: #c0355d;
	border-color: #c0355d; 
	color: #ffffff;
	border-radius: 0; 
}
button.join:hover {
	background-color: #c0355d;
	border-color: #c0355d; 
    color: #f8b9ab;
}
/*nav end*/
/*intro start*/
.intro {
	margin-top: 80px;
}
.intro .item img {
	height: 405px;
}

.carousel-indicators li {
	background-color: #f8b9ab;
    margin-left: 5px;
    margin-right: 5px;
    width: 11px;
    height: 11px;
    border: none;
}
.intro-box {
	position: absolute;
    top: 60px;
    padding: 20px 10px;
	width: 290px;
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
}
.intro-box:hover {
	background-color: #fff;
}
.intro-box h2 {}
.intro-box p {
	margin-top: 15px;
    margin-bottom: 15px;
}
.intro-box span {}
.intro-box input {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
	padding: 5px;
    background-color: #f4f4f4;
    border: 1px solid #aaaaaa;
    border-radius: 0;
    font-size: 15px;
    font-weight: 300;
}
.intro-box button {
	display: block;
	width: 100%;
	background-color: #c0355d;
	border: 1px solid #c0355d;
	border-radius: 0; 
	color: #ffffff;
}
.intro-box button:hover {
	background-color: #c0355d;
    color: #f8b9ab;
}
/*intro end*/

/*info start*/
.info {}
.info-bg {
	background-image: url(../img/info-bg.jpg);
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 70px 0 120px 0;
    position: relative;
    top: 600px;
}
.info-box {
	margin: 40px 0;
}
.info h4 {
	margin-bottom: 20px;
}
.info p {}
/*info end*/

*subscription start*/
.subscription {}

/*subscription end*/

/*membership start*/
.membership {
	background-color: #e8e7e7;
	padding: 30px 20px;
	margin-top: 50px;
}
.title {
	margin-bottom: 30px;
}
.title h4 {
	text-transform: uppercase;
	font-size: 21px;
    color: #242425;
}
.content {}
.content h4 {
	text-transform: uppercase;
    color: #004d7b;
    font-size: 21px;
    letter-spacing: 2px;
}
.content p {
	color: #242425;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 1px;
}
/*membership end*/

/*access start*/
.access {
	background-image: url(../img/access-bg.jpg);
	background-size: 120%;
    background-position: 20%;
    height: 630px;
    margin-top: 50px;
    padding: 50px;
}
.access-card {
	border: 2px solid #c4c4c4;
    background-color: #ffffff;
    max-width: 400px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;

}
.access-card h3 {
	letter-spacing: 1px;
}
.access-card p {
	color: #aaaaaa;
	letter-spacing: 1px;
}
.access-card .form {
	margin: 10px;
}
.access-card label {
	display: block;
	text-align: left;
	color: #aaaaaa;
}
.access-card input {
	display: block;
	width: 100%;
	background-color: #f4f4f4;
    border: 1px solid #aaaaaa;
    border-radius: 0;
    font-family: "Averta-Regular", sans-serif;
    font-size: 15px;
    font-weight: 300;
    height: 30px;
    margin: 0 0 15px 0;
    padding: 0 8px;
}
.access-card .buttons {
	margin: 20px auto;
}
.access-card .buttons button {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px 20px;
}
.access-card .buttons span {
	margin-bottom: 10px;
	display: block;
}
.access-card .buttons .face {
	background-color: #3b5998;
	color: #fff;
	border: 2px solid #3b5998;
	border-radius: 0;
}
.face i {
	float: left;
	font-size: 18px;
}
.access-card a {
	display: block;
    font-size: 17px;
    margin-top: 8px;
    color: #aaaaaa;
}
/*access end*/

/*brands start*/
.brands {}
.brands img {
	height: 27px;
    width: 130px;
    border: 0;
    vertical-align: middle;
    margin: 25px 25px 20px 25px;
}.brands .content {
	margin: 50px;
}
.brands .content h5 {
	font-weight: 300;
    line-height: 1.9;
    color: #333;
    letter-spacing: 2px;
}
.brands span {
	font-weight: bold;
}
.brands span.blue {
	color: #004d7b;
}
.brands hr {
	width: 60%;
	/*width: 630px;*/
    margin-left: auto;
    margin-right: auto;
    background-color: #f8b9ab;
    border-color: #f8b9ab;
    margin-bottom: 30px;
}
/*brands end*/

/*footer start*/
footer {
	background-color: #f4f4f4;
	border-top: 1px solid #c2c2c2;
	padding-top: 40px;
}
footer img.r {
	width: 50px;
	float: left;
}

footer .social-icon {
	display: inline-block;
	padding-top: 10px;
    padding-left: 16px;
}
.social-icon li {
	display: inline-block;
	margin: 10px 10px;
}
.social-icon a {}
.social-icon .fa {
	font-size: 20px;
	color: #f8c8bb;
}
footer .rocks {
	width: 95px;
    margin-top: 24px;
}
footer .content {
	margin-top: 60px;
}
footer .content h4 {}
footer .content p {}
footer .content input {
	margin-top: 15px;
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
    border-radius: 0;
    font-family: "Averta-Regular", sans-serif;
    font-size: 15px;
    font-weight: 300;
    height: 30px;
    margin: 0 0 15px 0;
    padding: 0 8px;
    width: 100%;
}



footer .links {
	float: right;
}
footer ul {
	display: inline-block;
	float: left;
}
footer .header {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.links a {
	color: #242425;
    letter-spacing: 1.25px;
    line-height: 3;
}
.links a:hover {
	color: #c0355d;
}
/*footer end*/